<div class="row">
  <div class="span2"></div>
  <div class="span8">
    <center>
    <%= image_tag("she_alert.jpg", :size => "200x200") %>
    </center>
      <div class="description">

      <h2>She Alert</h2>

      <p>
        If you are a woman living in Delhi, the statistics reveal a horrifying story. Approximately 90% percent of
        college women in New Delhi have experienced some form of sexual harassment. Yet, only about 1 in 10000
        occurrences are reported to the police.*
      </p>

      <p>
        She Alert is a platform that makes it easy for women to report such incidents.
      </p>

      <p>
        Share your stories.
      </p>

      <p>
        Mark out the area where the incident occurred.
      </p>

      <p>
        Let other women know about areas in your city where they are most likely to encounter unwelcome attention from
        men. Who knows, your actions may have helped other women avoid similar situations. Your reporting will also help
        us compile a geographic data bank of areas in your city that are more dangerous than others.
      </p>


    </div>

  </div>
  <div class="span2"></div>

</div>

